[submodule "external/external/xtl"]
	path = external/external/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "external/xtl"]
	path = external/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "external/xtensor"]
	path = external/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "external/xtensor-blas"]
	path = external/xtensor-blas
	url = https://github.com/xtensor-stack/xtensor-blas.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
