[submodule "external/external/xtl"]
	path = external/external/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "external/CppNumericalSolvers"]
	path = external/CppNumericalSolvers
	url = https://github.com/PatWie/CppNumericalSolvers.git
[submodule "external/exprtk"]
	path = external/exprtk
	url = https://github.com/ArashPartow/exprtk
